*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

.header {
  padding: 3em 5em 0 5em;
}

.logo {
  display: block;
  margin: 0 auto;
}

.hero-img {
  width: 433px;
  margin: 4em auto 3em auto;
}

.hero-content {
  padding: 0 2em 2em 2em;
}

.hero-heading,
.main-content-heading {
  color: #28283d;
  margin: auto;
}

.hero-heading {
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 110%;
  max-width: 19rem;
}

.hero-p,
.main-content-p {
  color: #87879d;
}

.hero-p,
.main-content-p,
.footer-p {
  line-height: 150%;
  font-weight: 500;
}

.hero-p {
  margin: 1.5em 0;
}

.download-btn,
.info-btn {
  padding: 1em 2.5em;
  display: block;
  width: max-content;
  margin: auto;
  border-radius: 29px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  line-height: 150%;
}

.download-btn-blue {
  background: #4d96a9;
}

.version-number-blue {
  color: #8fe3f9;
}

.info-btn {
  background: #855fb1;
  margin-top: 1em;
}

.main-content {
  padding: 2em 2em 8em 2em;
  position: relative;
}

.number-circle-line {
  width: 1px;
  height: 80px;
  border: 1px solid #d1d1df;
  margin: 0 auto;
}

.number-circle {
  border: 1px solid #d1d1df;
  border-radius: 100%;
  color: #87879d;
  font-weight: 900;
  line-height: 150%;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  padding-top: 1em;
  background: white;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 4em 0;
}

.grid-img {
  width: 100%;
  border-radius: 10px;
}

.main-content-subtitle {
  text-transform: uppercase;
  color: #4d96a9;
  font-size: 0.75rem;
  line-height: 110%;
  letter-spacing: 4px;
  margin: 0;
  font-weight: 900;
}

.main-content-heading {
  margin: 0.5em 0 2em 0;
  font-size: 2em;
  font-weight: 900;
  line-height: 110%;
}

.number-circle-container-footer {
  position: absolute;
  left: 42.75%;
  bottom: -25px;
  margin-top: 4em;
}

.footer {
  padding: 4em 2.15em;
  background: url("./assets/mobile/hero.png");
  background-size: cover;
}

.footer-heading,
.footer-p {
  color: white;
}

.footer-heading {
  font-size: 2em;
  font-weight: 900;
  line-height: 110%;
  margin: 0;
}

.footer-p {
  margin: 1.5em 0;
}

.download-btn-purple {
  background: #855fb1;
}
