*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

.header {
  padding: 3em 5em 0 5em;
}

.logo {
  display: block;
  margin: 0 auto;
}

.hero-img-tablet {
  width: 100%;
  margin: 4em auto 3em auto;
}

.hero-img-desktop-left,
.hero-img-desktop-right {
  display: none;
}

.hero-content {
  padding: 0 2em 2em 2em;
}

.hero-heading,
.main-content-heading {
  color: #28283d;
  margin: auto;
}

.hero-heading {
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 110%;
  max-width: 7em;
}

.hero-p,
.main-content-p {
  color: #87879d;
}

.hero-p,
.main-content-p,
.footer-p {
  line-height: 150%;
  font-weight: 500;
}

.hero-p {
  margin: 1.5em auto;
  max-width: 305px;
}

a {
  padding: 1em 2.5em;
  display: block;
  width: max-content;
  margin: auto;
  border-radius: 29px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  line-height: 150%;
}

.download-btn-blue {
  background: #4d96a9;
}

.download-btn-blue:hover {
  background: #71c0d4;
}

.version-number-blue {
  color: #8fe3f9;
}

.info-btn {
  background: #855fb1;
  margin-top: 1em;
}

.info-btn:hover,
.download-btn-purple:hover {
  background: #b18bdd;
}

.main-content {
  padding: 2em 2em 8em 2em;
  position: relative;
}

.number-circle-line {
  width: 1px;
  height: 80px;
  border: 1px solid #d1d1df;
  margin: 0 auto;
}

.number-circle {
  border: 1px solid #d1d1df;
  border-radius: 100%;
  color: #87879d;
  font-weight: 900;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  padding-top: 1em;
  background: white;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 4em 0;
}

.grid-img {
  width: 100%;
  border-radius: 10px;
}

.main-content-subtitle {
  text-transform: uppercase;
  color: #4d96a9;
  font-size: 0.75rem;
  line-height: 110%;
  letter-spacing: 4px;
  margin: 0;
  font-weight: 900;
}

.main-content-heading {
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: 900;
  line-height: 110%;
}

.main-content-p {
  margin: 0 auto 4em auto;
}

.number-circle-container-footer {
  position: absolute;
  left: 42.75%;
  bottom: -25px;
}

.footer {
  padding: 4em;
  background: url("./assets/mobile/hero.png");
  background-size: cover;
}

.footer-heading,
.footer-p {
  color: white;
}

.footer-heading {
  font-size: 2em;
  font-weight: 900;
  line-height: 110%;
  margin: 0;
}

.footer-p {
  margin: 1.5em auto;
}

.download-btn-purple {
  background: #855fb1;
}

.version-color-purple {
  color: #d9b8ff;
}

@media (min-width: 650px) {
  .hero-img-tablet {
    margin-bottom: 4.5em;
  }
  .hero-content {
    padding-bottom: 5.5em;
  }
  .hero-heading {
    font-size: 3rem;
  }
  .hero-p {
    max-width: 448.3px;
  }
  a {
    display: inline-block;
  }
  .info-btn {
    margin-left: 1em;
    margin-top: 0;
  }
  .img-grid {
    display: flex;
  }
  .main-content-subtitle {
    font-size: 0.875rem;
  }
  .main-content-heading {
    font-size: 2.25rem;
    max-width: 445px;
    margin: 0.5em auto 0.88em auto;
  }
  .main-content-p {
    max-width: 504px;
  }
  .number-circle-container-footer {
    left: 46.5%;
  }
  .footer {
    background: url("./assets/tablet/hero-tablet.png");
  }
  .footer-heading {
    font-size: 2.25rem;
  }
  .footer-p {
    max-width: 504px;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 5em 5em 0 5em;
  }
  .hero {
    margin-top: 4em;
  }
  .hero-img-tablet {
    display: none;
  }
  .hero-img-desktop-left,
  .hero-img-desktop-right {
    display: initial;
  }
  .hero-img-desktop-left {
    float: left;
    margin-left: 2em;
  }
  .hero-img-desktop-right {
    float: right;
    margin-right: 2em;
  }
  .hero-heading {
    font-size: 4rem;
  }
  .hero-p,
  .main-content-p {
    font-size: 1.125rem;
  }
  .img-grid {
    padding: 4em 5em 4em 5em;
  }
  .main-content-subtitle {
    font-size: 1rem;
  }
  .main-content-heading {
    font-size: 2.5rem;
  }
  .main-content-p {
    max-width: 525px;
    margin-bottom: 4.5em;
  }
  .number-circle-container-footer {
    left: 48.55%;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    background: url("./assets/desktop/hero-desktop-footer.png");
    background-size: cover;
    padding: 7em;
    text-align: left;
  }
  .footer-heading {
    font-size: 2.5rem;
    max-width: 355px;
  }
  .footer-p {
    font-size: 1.125rem;
    max-width: 355px;
    margin: 0;
  }
  .download-btn-purple {
    margin: auto 0 auto 0;
  }
}
